.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 400px;
}


.navbar{
    background-color: #fa8fc1c6;
    height: 100px;
    display: flex;
    align-items: center;
    
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo2 i{
    font-size: 3em;
}

.logo2 p{
    color: black;
    font-family: 'Courier New', Courier, monospace;

}

.navLinks{
    display: flex;
}

a{
    max-width: 400px;
    display: flex;
    margin-top: 10px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    letter-spacing: 3px;
}